<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer_order.customer %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer_order.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer_order.status %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @customer_order.grand_total %>
</p>

<p>
  <strong>Shipping charges:</strong>
  <%= @customer_order.shipping_charges %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
<%= link_to 'Back', customer_orders_path %>
