<%if current_customer.cart_items.present? %>
<div class="container">
  <div class="heading">
    <h3>What would you like to do next?</h3>
    
  </div>
  <div class="row">
    <div class="col-sm-6">
      <% if !session[:applied_coupon].present? %>
        <div class="chose_area" id="coupan-apply">
          <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
              <strong >Coupan Code : </strong>
            </div>
            <div class="col-sm-3 ">
              <%= text_field_tag :coupan,"", id: "coupon" %><br>
            </div>

            <div class="col-sm-3">
              <%= button_tag "Apply Coupan", class: "btn btn-default update", onclick: "use_coupon()" %>
            </div>
          </div>
            <div id="invalid-message" style="color:red" class="col-sm-4 col-sm-offset-4"></div> 
        </div>

      <% else %>
        <div class="chose_area" id="coupan-used" >
          <div class="row">
            <% coupon = session[:applied_coupon]%>
            <div class="col-sm-3 col-sm-offset-1">
              Applied Coupon
            </div>
            <div class="col-sm-3">
              <%=text_field_tag :coupon, "#{coupon}", id: "used-coupon", disabled: true %><br>
            </div>
            <div class="col-sm-5">
              <%= button_tag "Delete coupan", class: "btn btn-default update", onclick: "delete_coupon()" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <div class="total_area">
        <ul>
          <li>Cart Sub Total <span> <%= @cart_sub_total %></span></li>
          <li>Eco Tax <span><%= @tax %>  </span></li>
          <li>Shipping Cost <span><%=  @shipping_cost1 %></span></li>
          <li>Discount <span><%=  @discount %></span></li>
          <li>Total <span>&#8377; <%= @total %></span></li>
        </ul>
            <%= link_to(checkouts_path, class: "btn btn-default check_out") do %>Check Out<% end %>
      </div>
    </div>
  </div>
</div>
<%end%>