<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%= link_to(root_path) do %>Home<% end %></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class=" cart_info">
        <table class="table table-condensed">
          <thead id="table-head">
            <%= render "table_head" %>
          </thead>
              <% @cart_items.each do |item|%>
                <tr id="item-<%=item.id %>">
                   <%= render "cart_item", item: item %>
                </tr>
              <% end %>
          </tbody>
        </table>
      <div id="empty">
        <%= render "empty_item"%>
      </div>
    </div>
  </div>
</section> <!--/#cart_items-->
<section id="do_action">
  <div id="total_area">
    <%if current_customer.cart_items.present? %>
      <%=render "total_area"%>
    <%end%>
  </div>
</section><!--/#do_action-->
    