<div id="edit_address">
  <div class="col-sm-12">
    <div class="row">
      <% @customer_addresses.each do |address| %>
        <%if address.status == "active"%>
          <div class="col-sm-4" id="address-<%= address.id%>">
            <div class="panel panel-default">
              <div class="panel-body">
                <p><strong><%= address.name %></strong></p>
                <hr>
               <%= address.address_1 %>
                <%= address.address_2 %> <%= address.city %>
                <%= address.state %>
                <%= address.country %>
                <%= address.zipcode %>
                <hr>
                <p style="font-size:14px"><strong><%= address.mobile_number %></strong></p>
                <hr>
                <div class="row">
                  <div class="col-sm-4 col-sm-offset-1">
                     <%= link_to edit_address_path(address), style: "color: black", remote: true do %>
                    <i class="fa fa-pencil-square-o"></i>
                    <span>EDIT</span>
                    <% end %>
                  </div>
                  <div class="col-sm-4 col-sm-offset-3" >
                    <%= link_to(address_path(address), :method => :delete, remote: true,  style: "color: black;" ) do %>
                    <i class="fa fa-trash-o"></i>
                    <span>DELETE</span> 
                     <% end %>
                  </div>
                </div>
                <hr>
                <div class="row cancel-payment">
                  <div class="col-sm-8 col-sm-offset-2" align="center">
                    <%= link_to(review_payment_path(address_id: address.id), class: "btn btn-default cancel-payment") do %>Delivery on this Address<%end%>
                  <div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <% end %>
  <div class="modal fade" id="edit-address" role="dialog">
  </div>
</div>
