<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->
    <div class="step-one">
      <h2 class="heading">Step1</h2>
    </div>
    <div class="shopper-informations">
      <%if @customer_addresses.present? && current_customer.addresses.pluck(:status ).include?("active")%>
      <div class="row">
        <div class="col-sm-12 clearfix">
          <div class="bill-to create-address">
            <div class="row">
              <%if current_customer.addresses.present? %>
                <%= render "address"%> 
              <% end %>
            </div>
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add new Address</button>
            </div>
             <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bill To</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for @address do |f|%>
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 billing-form">
                          <%= f.text_field "name", placeholder: "Name *"%>
                          <%= f.text_field "address_1",  placeholder: "Address 1 *"%>
                          <%= f.text_field "address_2",  placeholder: "Address 2"%>
                          <%= f.text_field "city", placeholder: "city *"%>
                          <%= f.text_field "zipcode", placeholder: "Zip / Postal Code *"%>
                           <%= f.select :country, CountryStateSelect::countries_collection, {}, id: 'country_id' %>
                            <%= f.text_field :state ,:id=>'state_name', placeholder: "State *" %>
                          <%= f.text_field "mobile_number", placeholder: "Mobile Phone"%>
                          <%= f.hidden_field "customer_id", value: "#{current_customer.id}"%>
                          <%= f.hidden_field "address_type", value: "billing"%>
                        </div>
                        <div class="col-sm-3 col-sm-offset-5 form-one">
                          <%= f.button "Submit" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% else %>
       <div class="modal-body">
          <%= form_for @address do |f|%>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4 billing-form">
                <%= f.text_field "name", placeholder: "Name *"%>
                <%= f.text_field "address_1",  placeholder: "Address 1 *"%>
                <%= f.text_field "address_2",  placeholder: "Address 2"%>
                <%= f.text_field "city", placeholder: "city *"%>
                <%= f.text_field "zipcode", placeholder: "Zip / Postal Code *"%>
                 <%= f.select :country, CountryStateSelect::countries_collection, {}, id: 'country_id' %>
                  <%= f.text_field :state ,:id=>'state_name', placeholder: "State *" %>
                <%= f.text_field "mobile_number", placeholder: "Mobile Phone"%>
                <%= f.hidden_field "customer_id", value: "#{current_customer.id}"%>
                <%= f.hidden_field "address_type", value: "billing"%>
              </div>
              <div class="col-sm-3 col-sm-offset-5 form-one">
                <%= f.button "Submit" %>
              </div>
            </div>
          <% end %>
       </div>
      <% end %>
    <div class="row">   
  </div> <!--/#cart_items-->
</section>  

  

  