<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%= link_to root_path do %>Home<% end %></li>
        <li class="active">Review and Payment</li>
      </ol>
    </div><!--/breadcrums-->
    <div class="shopper-informations">
      <div class="review-payment">
        <h2>Review & Payment</h2>
      </div>

      <div class=" cart_info">
        <table class="table table-condensed">
           <thead id="checkout-table-head">
            <%= render "table_head" %>
          </thead>
          <tbody>
            <% current_customer.cart_items.each do |item|%>
                <tr id="item-<%=item.id %>">
                   <%= render "cart_items/cart_item", item: item %>
                </tr>
              <% end %>
              <td colspan="4">&nbsp;</td>
              <td colspan="2">
              <div id="checkout_total_area">
                <%= render "total_area", :locals => {:tax => @tax, :cart_sub_total => @cart_sub_total, :total => @total}%>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cuntinue-payment-button row">
        <div class="col-sm-2 col-sm-offset-5">
          
            <%= link_to(customer_orders_path(address_id: @address.id),:method => :post,  class: "btn btn-default") do %>Continue To Pay<% end%>
        </div>
      <div>
    </div>
  </div>
</section> <!--/#cart_items-->

  

  