<div class="container">
  <div class="row success-payment" style="border-style: inset;">
    <div class="col-sm-6 col-sm-offset-4">
      <h2>Thanks, you paid <strong>&#8377;<%= current_customer.customer_orders.last.grand_total %></strong>!</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h2><%= image_tag "home/logo.png" %></h2>
        <div class="invoice-title">
        <h2>Invoice</h2>
        <h3 class="pull-right">Order # <%= current_customer.customer_orders.last.id%></h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Billed To:</strong><br>
            <%= @customer_order.address.name%><br>
            <%=  @customer_order.address.address_1%><br>
            <%if @customer_order.address.address_2.present? %>
            <%= @customer_order.address.address_2%><br><% end %>
            <%= @customer_order.address.city%>, <%=@customer_order.address.state%> - <%=@customer_order.address.zipcode%>
          </address>
        </div>
        <div class="col-xs-6 text-right">
           <address>
              <strong>Order Date:</strong><br>
              <%= @customer_order.created_at.strftime("%d %B %Y")%><br><br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 text-right">
        </div>
      </div>
  </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Order summary</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                                <tr>
                      <td><strong>Item</strong></td>
                      <td class="text-center"><strong>Price</strong></td>
                      <td class="text-center"><strong>Quantity</strong></td>
                      <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                </thead>
                <tbody>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <% subtotal = 0 %>
                  <% @customer_order.order_details.each do |order|%>
                  <tr>
                    <td><%=order.product.name%></td>
                    <td class="text-center">&#8377;<%=order.product.price%></td>
                    <td class="text-center"><%=order.quantity%></td>
                    <td class="text-right">&#8377;<%=  subtotal += order.quantity*order.product.price %></td>
                   
                  </tr>
                  <%end%>
                  <tr>
                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                    <td class="thick-line text-right">&#8377;<%= @order_sub_total %></td>
                  </tr>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"><strong>Shipping</strong></td>
                    <td class="no-line text-right"><%= @shipping_cost1 %></td>
                  </tr>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"><strong>Discount</strong></td>
                    <td class="no-line text-right"><%= @discount %></td>
                  </tr>
                   <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"><strong>Tax</strong></td>
                    <td class="no-line text-right">&#8377;<%= @tax %></td>
                  </tr>
                  <tr class="cancel-button cancel-payment">
                    <td class="no-line " ><%= link_to "Cancel Order", cancel_order_customer_order_path(@customer_order),  class: "btn btn-default" %>&nbsp;&nbsp;
                    <%= link_to "Continue shoping", root_path,  class: "btn btn-default" %>

                    </td>
                    <td class="no-line"></td>
                   
                    <td class="no-line text-center"><strong>Total</strong></td>
                    <td class="no-line text-right">&#8377;<%= @total %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>